{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
    
<body>
    <h1>Welcome home</h1>
    {% if user.is_authenticated %}
        {{user}}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <p class="text-green-600">Annonymous</p>
    {% endif %}
</body>
</html>